.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #28a745;
  color: white;
}

.login-button:hover {
  background-color: #218838
}

.login-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.floating-label {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.floating-label input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.floating-label input:focus {
  border-color: #28a745; 
}

.floating-label label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: white;
  padding: 0 5px;
  color: #999;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}


.floating-label input:focus + label,
.floating-label input:valid + label {
  top: 0;
  left: 10px;
  font-size: 0.85rem;
  color: #28a745; 
}


.floating-label input:valid + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #ddd; 
  border-radius: 8px; 
  z-index: -1; 
  transition: all 0.3s ease; 
}


.floating-label input:focus + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #28a745; 
  border-radius: 8px; 
  z-index: -1; 
  transition: all 0.3s ease; 
}
