.login-container {
  max-width: 400px;
  margin: 50px auto; /* Espaciado superior */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px; /* Bordes más redondeados */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; /* Fondo blanco */
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8em; /* Aumentar tamaño de fuente */
  color: #333; /* Color del título */
}

.login-form {
  display: flex;
  flex-direction: column;
}

.floating-label {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.floating-label input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.floating-label input:focus {
  border-color: #28a745; /* Color del borde en foco */
}

.floating-label label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: white;
  padding: 0 5px;
  color: #999;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.floating-label input:focus + label,
.floating-label input:valid + label {
  top: 0;
  left: 10px;
  font-size: 0.85rem;
  color: #28a745; /* Color del label cuando está enfocado o validado */
}

.login-button {
  border: none;
  border-radius: 8px; /* Bordes redondeados */
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
  background-color: #28a745; /* Color del botón */
  color: white;
  font-size: 1rem; /* Aumentar tamaño de fuente */
}

.login-button:hover {
  background-color: #218838; /* Color al pasar el mouse */
  transform: scale(1.05); /* Efecto de aumento */
}

.login-button:disabled {
  background-color: #ccc; /* Color para el botón deshabilitado */
  cursor: not-allowed; /* Cursor no permitido */
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.spinner {
  margin-top: 15px;
  width: 24px;
  height: 24px;
  border: 4px solid rgba(40, 167, 69, 0.3);
  border-radius: 50%;
  border-top: 4px solid #28a745; /* Color del spinner */
  animation: spin 1s linear infinite; /* Animación de giro */
}

/* Animación de giro */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
