.upload-excel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  max-width: 400px;
}

.headers-scroll-container {
  display: flex;
  flex-direction: column; /* Mantiene la disposición vertical */
  max-height: 200px; /* Altura máxima del contenedor para scroll vertical */
  overflow-y: auto; /* Permite solo el scroll vertical */
  overflow-x: hidden; /* Oculta el scroll horizontal */
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}


.header-input {
  width: calc(100% - 16px); /* Ajuste para evitar desbordamiento */
  margin-bottom: 10px;
  padding: 8px;
  border: 2px solid #007BFF;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s;
}


.header-input:focus {
  border-color: #0056b3;
  outline: none;
}

.upload-excel-input {
  margin-bottom: 20px;
  padding: 12px;
  border: 2px solid #007BFF;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.upload-excel-input:focus {
  border-color: #0056b3;
  outline: none;
}

.upload-excel-button {
  padding: 12px 20px;
  color: #ffffff;
  background-color: #007BFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.upload-excel-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.upload-excel-button.loading {
  background-color: #6c757d;
  cursor: not-allowed;
}

.upload-excel-error {
  color: red;
  margin-top: 15px;
  font-size: 14px;
}

.upload-excel-success {
  color: green;
  margin-top: 15px;
  font-size: 14px;
}

.spinner {
  margin-top: 15px;
  width: 24px;
  height: 24px;
  border: 4px solid rgba(0, 123, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #007BFF;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
