.preferences-list {
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px; /* Espacio interno */
}

.course-item {
  display: flex;
  justify-content: space-between; /* Espacio entre el nombre y el checkbox */
  align-items: center; /* Alinear verticalmente */
}